.container{
    background-color: black;
    color: aliceblue;
    width: 400px;
    border: 1px solid;
}

.row{
    display: flex;
    justify-content: center;

   
}
.col{
    width: 50%;
    
    border: 1px solid;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.btn{
    width: 150px;
    height: 30px;
    background-color: rgb(132, 132, 210);
    border: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: white;
}
.btn:hover{
    background-color:rgb(62, 62, 191); 
}
.main-div{
    display: flex;
    background-color: rgb(213, 188, 218);
    justify-content: center;
    width: auto;
    height: 700px;
    align-items: center;
    border-radius: 5px;
}
.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
}